<div style="text-align: center">
<p>App Store および Google Play で配信中です。</p>
<br />
<p><a href="https://itunes.apple.com/jp/app/%E8%89%A6%E3%83%A1%E3%83%A2-%E8%89%A6%E3%81%93%E3%82%8C%E3%83%A1%E3%83%A2%E5%B8%B3/id1192962216?pt=118332069&ct=blog&mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg) no-repeat;width:135px;height:40px;"></a></p>
<p><a href="https://play.google.com/store/apps/details?id=jp.momodango.tdd1.kancollememo&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Google Play で手に入れよう" src="https://play.google.com/intl/ja/badges/images/generic/ja_badge_web_generic.png" width="154px" /></a></p>
</div>