<div style="text-align: center">
<p>App Store および Google Play で配信中です。</p>
<br />
<p><a href="https://itunes.apple.com/jp/app/%E5%A4%A7%E7%99%BA%E8%A8%88%E7%AE%97%E6%A9%9F-%E8%89%A6%E3%81%93%E3%82%8C-%E9%81%A0%E5%BE%81%E3%83%9C%E3%83%BC%E3%83%8A%E3%82%B9%E8%A8%88%E7%AE%97/id1262891468?pt=118332069&ct=blog&mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg) no-repeat;width:135px;height:40px;"></a></p>
<p><a href="https://play.google.com/store/apps/details?id=jp.momodango.tdd1.daihatu&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Google Play で手に入れよう" src="https://play.google.com/intl/ja/badges/images/generic/ja_badge_web_generic.png" style="display:inline-block;overflow:hidden;" width="154px" /></a></p>
</div>