<div style="text-align: center">
    <p>App Store および Google Play で配信中です。</p>
    <br />
    <p><a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1445348802&mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg) no-repeat;width:135px;height:40px;"></a></p>
    <p><a href="https://play.google.com/store/apps/details?id=jp.momodango.tdd1.senka&utm_source=gnk263.net&utm_campaign=my_website&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Google Play で手に入れよう" src="https://play.google.com/intl/ja/badges/images/generic/ja_badge_web_generic.png" width="154px" /></a></p>
    </div>